<div class="col-md-6 col-lg-4">
    <div class="p-3 border rounded h-100">
        <div class="d-flex justify-content-between">
            <div>
                {{ range .Params.categories }}
                <a class="badge card-badge mb-1 text-white text-decoration-none" href="/categories/{{ . | urlize }}">{{ . | title }}</a>
                {{ end }}
                <h5>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h5>
            </div>
            <div>
                <div class="px-2 pb-1 m-2 d-flex flex-column rounded card-badge">
                    <div class="px-2 fs-3 mx-auto">{{ .Params.start_date | time.Format "02" }}</div>
                    <div class="pb-1 px-2 mx-auto">{{ .Params.start_date | time.Format "January" }}</div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <p class="mb-0 fw-bold">{{ i18n "dateAndTime" }}:</p>{{ .Params.start_date | time.Format "02 January 2006 15:04" }} - {{ .Params.end_date | time.Format "02 January 2006 15:04" }}
            </div>
        </div>
        {{ with .Params.organiser }}
        <div class="row">
            <div class="col">
                <p class="mb-0 fw-bold">{{ i18n "organiser" }}:</p> {{ . }}
            </div>
        </div>
        {{ end }}
        {{ with .Params.location }}
        <div class="row">
            <div class="col">
                <p class="mb-0 fw-bold">{{ i18n "location" }}:</p> {{ . }}
            </div>
        </div>
        {{ end }}
        {{ with .Params.external_url }}
        <div class="row mt-3">
            <div class="col">
                <a href="{{ . }}"><i class="bi bi-globe"></i> {{ i18n "eventWebpage" }}</a>
            </div>
        </div>
        {{ end }}
    </div>
</div>